 @font-face {
    font-family: 'Istok web';
    src: url(assets/font/IstokWeb-Regular.ttf);
}
@font-face {
    font-family: 'Istok web';
    src: url(assets/font/IstokWeb-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'poppins';
    src: url(assets/font/Poppins-Light.ttf);
    font-weight: 200;
}
@font-face {
    font-family: 'poppins';
    src: url(assets/font/Poppins-Bold.ttf);
    font-weight: 700;
}



.foobg{

    background-color: rgb(14, 0, 21);
    height: 200px;
}


.bgcolor{

    /* background-color: #E8ECEF; */
    /* background-color: #6e0909; */
    background: linear-gradient(245.59deg, #000a1d 0%, #2d0047 28.53%, #1a0022 75.52%);

   
}

:root{
    --primary-colors: #00b0fb;
    --accent-colors:#8a00ac;
    background-color: black;
    --font-color:rgb(236, 236, 236);
    
    
}
.header{
    display: flex;
    justify-content: space-between;
    padding-top: 81px;
    max-width: 1231px;
    margin: 0 auto;
    font-family: 'istok web';
}
.header_title{

    margin: 0;
    display: flex;
    align-items: center;
}
.header span{

    font-weight: 700;
    font-size: 40px;
    margin-right: 10px;
    color: rgb(236, 235, 233)
}
.header .vricon{
    color: rgb(255, 219, 77);
}
.header .menu-ico, 
.header .close-ico {

    display: none;
}

.header_navigation{

    display: flex;
    align-items: center;
    height: 52px;
    margin-right: 15px;
}

.header_navigation a{
    text-decoration: none;
    margin-left: 29px;
    font-size: 28px;
    color: rgb(73, 73, 73);
}


.wrapper{
    display: flex;
    height: 850px;
}


.wrapper aside{

    width: 50%;
    margin-top: 46px;
    position: relative;
    margin-bottom: -25px;
}


.fish_Circle{

    width: 785px;
    height: 785px;
    background-color: #bc02eb;
    border-radius: 50%;
    position: absolute;
    right: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(100px);
    box-shadow: 0 0 50px 10px rgba(2, 255, 234, 0.7);

    
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.7), /* White glow */


}







.fishimg{

    position: absolute;
    right: -5px;
    /*transform: scaleX(-1);  Flip horizontally */
    width: 650px;
    height: auto;
    transform: scaleX(-1);
    margin-right: 110px;
    
    
}

/* .fishmain{

    height: 785px;
    margin-bottom: 20px;
}

.infomain{

    
    margin-top: 10px;
    align-items: center;
    margin-bottom: 20px;

} */

.infobox{

    width: 1400px;
    height: auto;
    position: absolute;
    align-items: center;
    margin-left: 250px;
    margin-top: 10px;
}

main {

    width: 50%;
    margin-top: 80px;
    max-width: 571px;
    margin-bottom: 50px;

}


main h1{

    color:#790AFA;
    font-weight: 700;
    font-size: 48px;
    font-family: 'poppins';
    margin-left: 30px;
    margin-top: 0;
    margin-bottom: 14px;
}

main p{

    color: var(--font-color);
    font-weight: 200;
    font-size: 20px;
    font-family: 'poppins';
    margin-top: 0;
    margin-bottom: 50px;
    margin-left: 30px;
}


.purple{

  width: 35vw;
  height: 50px;
  background-image: linear-gradient(to right, #8a00ac, #ff00ff);
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-bottom: 10px;
  margin-top: 50px;
  margin-left: 30px;
  border-radius: 10px;


}




.purple p{

    margin: 0;
}


.blue{

    width: 30vw;
  height: 50px;
  background-image: linear-gradient(to right, #009fbe, #50d3fb);
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 30px;
  border-radius: 10px;


}
.blue p{

    margin: 0;
}


.orange{

    width: 25vw;
  height: 50px;
  background-image: linear-gradient(to right, #c7003c, rgb(252, 34, 143));
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-bottom: 50px;
  margin-top: 10px;
  margin-left: 30px;
  border-radius: 10px;


}

.orange p{

    margin: 0;
}


.buttons{

    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 30px;


}

.button-buy-now{

    background-color: var(--accent-colors);
    font-size: 32px;
    font-family: 'poppins';
    font-weight: 700;
    color: white;


}


.buttons button{

    border: none;
    border-radius: 50px;
    padding: 16px 47px;

}


.button-read-more{

    background-color: rgb(4, 85, 192);
    font-size: 32px;
    font-family: 'poppins';
    font-weight: 700;
    color: white;

}


/* h1{
  border-color: cyan;
  background-color: rgb(132, 0, 194);
  font-family: "Audiowide", sans-serif;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
} */


.content{

    color: rgb(165, 165, 165);
}
.divStyle {
  width: 100vw;
  height: 25px;
  background-color: #18031d;
  align-items: center;
  text-align: center;
}
.logo{
align-content: center;
}
.fullwidth{

  width: 100vw;
  height: auto;
}
.imagehome img{
  width: 500px;
  height: 100%;
}


.imagegallery img{

  width: 100%;
  height: auto;
}

.aboutus img {

  width: 600px;
  height: auto;
}

.infotext{

    font-weight: 700;
}



.VRintro{

   margin-top: -200px;
   margin-bottom: 0px;

}

.infobgcolor{

    position: absolute;
  top: -260px;
  margin-bottom: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  color: white; /* Adjust text color */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust background color and opacity */
  z-index: 2; /* Place the text above the video */
   
}

.bgvideo{

width: 100%;
  height: 100%;

 

  mask-image: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 15%, rgba(0,0,0,0.7) 90%, rgba(0,0,0,0) 100%);
  -webkit-mask-image: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 15%, rgba(0,0,0,0.7) 90%, rgba(0,0,0,0) 100%);
}


  .container {
    position: relative; 
    z-index: 1; 
  } 


 
